#root {
  max-width: 1000px;
  margin: 0 auto;
}

header {
  padding: 50px 20px;
  color: white;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 40px;
}

header p {
  font-size: 18px;
}

section {
  padding: 30px 20px;
  border-bottom: 1px solid #ddd;
}

section h2 {
  margin-bottom: 10px;
}

li {
  margin: 8px 0;
}

footer {
  padding: 30px 20px;
  text-align: center;
  background-color: #f3f4f6;
}
nav {
  display: flex;
  gap: 20px;
  padding: 15px 20px;
  background-color: #f3f4f6;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: #222;
  font-weight: bold;
}

nav a:hover {
  color: #2563eb;
}

nav span {
  margin-left: auto;
  font-size: 14px;
}